#recipeCardContainer {
  margin: auto;
  width: 60vw;
  min-height: 30vh;
  border: 3px solid #1A4687;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #f1e9da;
}

#recipeHeader {
  flex: 3 0 100%;
  margin-bottom: 5px;
}

#recipeIngredients {
  flex: 1 1 33%;
  border-right: 3px solid #1A4687;
  padding: 10px;
}

#recipeDirections {
  flex: 1 1 66%;
  padding: 10px;
}

