#myRecipesWrapper {
  display: flex;
  flex-direction: row;
  height: 82vh;
}

#sideBar {
  background-color: aqua;
  width: 25%;
  border-right: 5px solid grey;
}

#recipeContainer {
  margin: auto;
}
